#map { width: 100%; margin: 0; padding: 0;}

header .mdl-button--icon {
  margin: 4px;
}

.spinner-container {
  text-align: center;
  margin-top: 20px;
}

.mdl-layout__header-row {
  padding-left: 0;
}

.mdl-layout__header-row .mdl-button--icon {
  width: 48px;
  height: 48px;
}

.mdl-card__supporting-text {
  font-size: 15px;
}

.mdl-card__title-list li a {
  font-size: 15px;
}

.talk-card-wide.mdl-card {
  width: 95%;
  margin: 2% auto;
}

.single-talk.talk-card-wide.mdl-card {
  width: 100%;
  margin: 0 auto;
}

.talk-card-wide > .mdl-card__title {
  height: 176px;
}
.talk-card-wide > .mdl-card__menu {

}
.talk-card-wide > .mdl-card__menu .mdl-button {
  font-size: 24px;
}

.mdl-card__title-list {
  margin: 0;
  padding: 0;
}

.mdl-card__title-list li {
  display: inline;
  font-size: 24px;
}
