{{#extend "layout"}}
  {{#content "header-top-left-button"}}
    <a class="mdl-button mdl-button--icon" href="/location">
      <i class="material-icons">arrow_back</i>
    </a>
  {{/content}}
  {{#content "header-title"}}
    <span class="mdl-layout-title">Directions</span>
  {{/content}}
  {{#content "main"}}
    <div id="map"></div>
  {{/content}}
{{/extend}}
