{{#extend "layout"}}
  {{#content "header-top-left-button"}}
    <a class="mdl-button mdl-button--icon" href="/">
      <i class="material-icons">arrow_back</i>
    </a>
  {{/content}}
  {{#content "main"}}
  <div class="no-connection-container">
    <p><i class="material-icons">signal_cellular_connected_no_internet_4_bar</i> Oops, parece que no tienes conexión en este momento</p>
  </div>
  {{/content}}
{{/extend}}
